:root {
  --vp-c-brand: var(--vk-color-primary);
  --vp-c-brand-light: var(--vk-color-primary-light-3);
  --vp-c-brand-lighter: var(--vk-color-primary-light-5);
  --vp-c-brand-dark: var(--vk-color-primary-dark-2);
  --vp-c-brand-darker: #265f99;

  --component-preview-bg: var(--vp-code-block-bg);
  --component-preview-soft: var(--vp-code-block-bg-light);
}

body {
  color: var(--vp-c-text-1);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--vp-c-text-1);
}

/* 首页中部居中布局 */
.is-home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.is-home .main {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 折叠面板样式 */
.u-collapse {
  border-top: solid 1px var(--vp-c-divider);
  border-bottom: solid 1px var(--vp-c-divider);
  margin-left: 10px;
}

.u-collapse-item__header {
  background-color: var(--vk-color-primary-dark-2);
  color: var(--vp-c-text-1);
  border-color: var(--vp-c-divider);
}

.u-collapse-item__content {
  background-color: var(--vk-color-primary-dark-2);
  color: var(--vp-c-text-1);
  border-color: var(--vp-c-divider);
}

/* Tooltip */
.u-tooltip {
  margin: 0 10px;
}

/* 下拉菜单 */
li {
  list-style: none;
}

/* Input */
.inputWrapper input {
  border: solid 1px var(--vp-c-text-1);
  border-radius: 3px;
}
.inputWrapper input:focus {
  border-color: var(--vp-c-brand-darker);
}

.disabled {
  color: #999999;
  cursor: not-allowed;
  pointer-events: none;
}
